*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  background-color: #c5e4e7;
}

input[type='number'] {
  appearance: textfield;
}

.nv-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-link {
    margin-top: 50px;

    img {
      display: block;
    }
  }
}

.nv-screen-reader-only{
  position: absolute;
  left: -100vw;
}

.nv-calculator {
  
}
